button{
  border: none;
  outline: none;
  background: none;
  background-color: transparent;
  box-shadow: none;
}
.btn{
  &-romb{
    transform: rotate(-45deg);
    width: 25px;
    height: 25px;
    background-color: #fff;
    cursor: pointer;

    &-both{
      &::before{
        content: '\e900 \e901';
        font-family: 'icomoon';
        font-size: 17px;
      }
    }
    &-left{
      &::before{
        content: '\e900';
        font-family: 'icomoon';
        font-size: 17px;
      }
    }
    &-right{
      &::before{
        content: '\e901';
        font-family: 'icomoon';
        font-size: 17px;
      }
    }


    &::before{
      display: inline-block;
      transform: rotate(45deg);
      color: $bodyTextColor;
    }

    &:hover{
      background: -moz-linear-gradient( 90deg, rgb(67,170,38) 0%, rgb(162,193,102) 100%);
      background: -webkit-linear-gradient( 90deg, rgb(67,170,38) 0%, rgb(162,193,102) 100%);
      background: -ms-linear-gradient( 90deg, rgb(67,170,38) 0%, rgb(162,193,102) 100%);
      background: linear-gradient( 90deg, rgb(67,170,38) 0%, rgb(162,193,102) 100%);
      &::before{
        color: #fff;
      }
    }
  }

  &-regular{
    font: normal 300 18px / 1.2 'Cuprum', sans-serif;
    color: #fff;
    text-transform: uppercase;
    background-color: $green;
    border-bottom: 3px solid #2c8a12;
    display: inline-block;
    padding: 5px 18px 3px;
    transition: all ease .3s;

    &:hover{
      color: $green;
      background-color: #fff;
    }
  }
}
