.headerSlider{
  position: relative;
  .slide{
    background-color: #fff;
    border-top: 4px solid $green;
    font: normal normal 14px / 1.2 'Roboto', sans-serif;
    padding: 22px 30px 50px;

    &_title{
      font: normal normal 18px / 1.2 'Cuprum', sans-serif;
      text-transform: uppercase;
      margin: 0 0 20px;
    }

    &_text{
      p{
        margin: 0;
      }
    }

  }

  &_bullets{
    position: absolute;
    bottom: 36px;
    left: 50%;
    transform: translate(-50%, 0);
    button{
      background-color: $green;
      border: 1px solid #fff;
      transition: all ease .3s;
      height: 12px;
      width: 12px;
      border-radius: 12px;
      display: inline-block;
      padding: 0;
      outline: none;
      &.glide__bullet--active{
        border: 1px solid $green;
        background-color: #fff;
      }
    }
  }

  &_arrow{
    z-index: 2;
    position: absolute;
    top: 50%;
    &-left{
      left: 0;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &-right{
      right: 0;
      transform: translate(50%, -50%) rotate(-45deg);
    }
  }
}