.logo{
  &-wrapper{
    a{
      text-decoration: none;
      display: flex;
      align-items: center;
    }
  }
  &-text{
    font: normal 900 26px / 1 'Roboto', sans-serif;
    padding-left: 13px;
    display: inline-block;
    color: $bodyTextColor;
  }
}