.timer{
  color: $green;
  display: flex;
  justify-content: space-between;

  &-desc{
    margin: 0 0 10px;
  }
  .elem{
    background-color: #fff;
    text-align: center;
    padding: 14px 20px 17px;
    flex-basis: 85px;
    box-shadow: -3.18px 5.088px 16px 0px rgba(0, 0, 0, 0.09);

    .num{
      font: normal bold 56px / 1 'Cuprum', sans-serif;
      display: inline-block;
      width: 50px;
      text-align: center;
    }
  }
}