.videoCard{
  min-width: 371px;
  text-align: left;
  margin:0 15px;
  transition: all ease .3s;
  &_wrapper{
    display: flex;
    flex-wrap: nowrap;
    flex: 0 0 371px;
  }
  &:first-of-type{
    margin-left: 0;
  }
  &:last-of-type{
    margin-right: 0;
  }

  &_imgWrapper{
    width: 100%;
    position: relative;
    margin-bottom: 13px;
    &::before{
      content: '▶';
      position: absolute;
      top: calc(100% - 28px);
      display: inline-block;
      padding: 13px 17px;
      font-size: 22px;
      line-height: 1;
      color: #fff;
      background: -moz-linear-gradient( 45deg, rgb(67,170,38) 0%, rgb(162,193,102) 100%);
      background: -webkit-linear-gradient( 45deg, rgb(67,170,38) 0%, rgb(162,193,102) 100%);
      background: -ms-linear-gradient( 45deg, rgb(67,170,38) 0%, rgb(162,193,102) 100%);
      background: linear-gradient( 45deg, rgb(67,170,38) 0%, rgb(162,193,102) 100%);
    }
  }
  &_text{
    padding-left: 64px;
  }
  &_title{
    font: normal 800 16px / 1.2 'Roboto', sans-serif;
    margin-top: 0;
    margin-bottom: 11px;
    a{
      color: rgb(47, 49, 49);
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }

  }
  &_description{
    margin-bottom: 50px;
    p{
      font: normal 500 14px / 1.2 'Roboto', sans-serif;
      margin: 0;
    }
  }

  &:hover{
    .videoCard{
      &_imgWrapper{
        &::before{
          background: #fff;
          color: $green;
        }
      }
      &_text{
        a{
          color: $green;
          text-decoration: underline;
        }
      }
    }
  }
}