footer{
  background: url('./../assets/img/footer-bg.jpg') center / cover no-repeat;
  color: #fff;
  padding-top: 20px;

  .promo{
    &-column{
      display: flex;
      flex-direction: column;
      align-content: center;
    }
    &-description{
      font: normal 500 16px / 1.2 'Roboto', sans-serif;
      margin-bottom: 30px;
      u{
        color: #fff600;
      }
    }
  }

  .teamImg{
    &-wrapper{
      img{
      	margin-bottom: -3px;
      }
    }
  }
}