.header{
  padding: 22px 0 20px;
  background: #fff;

  .container{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }


  .row{
    align-items: center;
    flex: 0;
  }

  .logo-wrapper{
    flex-basis:275px;
  }

  .desc{
    flex-basis:280px;
  }

  .phone{
    flex-basis:190px;
    a{
      font: normal 300 26px / 1.2 'Cuprum', sans-serif;
      color: $bodyTextColor;
      text-decoration: none;
    }

  }
  .desc{
    p{
      font: normal 300 14px / 1.2 'Roboto', sans-serif;
      b{
        font-weight: bold;
      }
    }
  }
}