.siteNavigation{
  background-color: $green;
  &_wrapper{
    display: flex;
    // flex: 1 0 auto;
    margin: 0;
    padding: 0;

    list-style-type: none;

    a{
      font: normal normal 18px / 48px 'Cuprum', sans-serif;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      flex-grow: 1;
      border-left: 1px solid rgba(255, 255, 255, .302);
      transition: all ease .3s;

      &:last-of-type{
        border-right: 1px solid rgba(255, 255, 255, .3);
      }

      &:hover{
        background-color: #fff;
        color: $green;
      }
    }
    // li{
    //   text-align: center;
    //   flex-grow: 1;
    //   border-left: 1px solid rgba(255, 255, 255, .3);
    //   transition: all ease .3s;
    //   &:last-of-type{
    //     border-right: 1px solid rgba(255, 255, 255, .3);
    //   }
    //
    //   a{
    //     font: normal normal 18px / 48px 'Cuprum', sans-serif;
    //     color: #fff;
    //     text-transform: uppercase;
    //     text-decoration: none;
    //   }
    //
    //   &:hover{
    //     background-color: #fff;
    //     a{
    //       color: $green;
    //     }
    //   }
    // }



  }
}