<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A New wave studio test task</title>
    <!-- Twitter Card data -->
    <meta name="twitter:card" value="A New wave studio test task">
    <meta name="Description" content="A New wave studio test task"/>
    <!-- Open Graph data -->
    <meta property="og:title" content="A New wave studio test task" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="A simple webpack starter project for your basic web development needs." />
    <!-- Mobile header color for Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#3ca421">
    <!-- Mobile header color Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#3ca421">
    <!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="logo-wrapper">
        <a href="#">
          <img src="<%= require('./src/assets/img/logo.png') %>" alt="">
          <span class="logo-text">INSIDE WINDOWS</span>
        </a>
      </div>
      <div class="desc">
        <p>Окна от <b>лучших</b> мировых производителей</p>
      </div>
      <div class="phone">
        <a href="tel:+380448122312">+38 (044) 812-23-12</a>
      </div>
      <div class="callback">
        <a href="#" class="btn btn-regular">
          <i class="icon-phone-call"></i>
          Заказать звонок
        </a>
      </div>
    </div>
  </header>
  <nav class="siteNavigation">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="siteNavigation_wrapper">
            <a href="#">Главная</a>
            <a href="#">Продукция</a>
            <a href="#">Наши услуги</a>
            <a href="#">Кредит</a>
            <a href="#">Акции</a>
            <a href="#">новости</a>
            <a href="#">Доставка</a>
            <a href="#">Оплата</a>
            <a href="#">Контакты</a>
            <a href="#"><i class="icon-search"></i></a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <main>
    <section class="headerSection">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-5 offset-lg-7">
            <div class="glide headerSlider js-headerSlider">
              <button class="glide__arrow glide__arrow--left headerSlider_arrow headerSlider_arrow-left btn-romb btn-romb-left js-sliderArrow" data-glide-dir="<"></button>
              <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                  <li class="slide glide__slide">
                    <h4 class="slide_title">
                      Равным образом дальнейшее развитие различных форм
                    </h4>
                    <div class="slide_text">
                      <p>
                        Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание систем массового участия.
                      </p>
                    </div>
                  </li>
                  <li class="slide glide__slide">
                    <h4 class="slide_title">
                      Равным образом дальнейшее развитие различных форм
                    </h4>
                    <div class="slide_text">
                      <p>
                        Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание систем массового участия.
                      </p>
                    </div>
                  </li>
                  <li class="slide glide__slide">
                    <h4 class="slide_title">
                      Равным образом дальнейшее развитие различных форм
                    </h4>
                    <div class="slide_text">
                      <p>
                        Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание систем массового участия.
                      </p>
                    </div>
                  </li>
                  <li class="slide glide__slide">
                    <h4 class="slide_title">
                      Равным образом дальнейшее развитие различных форм
                    </h4>
                    <div class="slide_text">
                      <p>
                        Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание систем массового участия.
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="glide__bullets headerSlider_bullets" data-glide-el="controls[nav]">
                <button class="glide__bullet" data-glide-dir="=0"></button>
                <button class="glide__bullet" data-glide-dir="=1"></button>
                <button class="glide__bullet" data-glide-dir="=2"></button>
                <button class="glide__bullet" data-glide-dir="=3"></button>
              </div>
              <button class="glide__arrow glide__arrow--left headerSlider_arrow headerSlider_arrow-right btn-romb btn-romb-right js-sliderArrow" data-glide-dir=">"></button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="howToMakeOrder">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="howToMakeOrderComponent">
              <div class="howToMakeOrderComponent_imgwrapper">
                <img src="" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="videoSection">
      <div class="container">
        <h3 class="title">Видео</h3>
        <div class="row">
          <div class="col-12">
            <div class="scrollBar scrollBar-horizontal js-scrollBar">
              <div class="videoCard_wrapper">
                <div class="videoCard">
                  <div class="videoCard_imgWrapper">
                    <a href="#"><img src="<%= require('./src/assets/img/worker/worker1.jpg') %>" alt=""></a>
                  </div>
                  <div class="videoCard_text">
                    <h4 class="videoCard_title">
                      <a href="#">Равным образом дальнейшее развитие различных форм</a>
                    </h4>
                    <div class="videoCard_description">
                      <p>Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание систем массового участия.</p>
                    </div>
                  </div>
                </div>
                <div class="videoCard">
                  <div class="videoCard_imgWrapper">
                    <a href="#"><img src="<%= require('./src/assets/img/worker/worker1.jpg') %>" alt=""></a>
                  </div>
                  <div class="videoCard_text">
                    <h4 class="videoCard_title">
                      <a href="#">Равным образом дальнейшее развитие различных форм</a>
                    </h4>
                    <div class="videoCard_description">
                      <p>Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание систем массового участия.</p>
                    </div>
                  </div>
                </div>
                <div class="videoCard">
                  <div class="videoCard_imgWrapper">
                    <a href="#"><img src="<%= require('./src/assets/img/worker/worker1.jpg') %>" alt=""></a>
                  </div>
                  <div class="videoCard_text">
                    <h4 class="videoCard_title">
                      <a href="#">Равным образом дальнейшее развитие различных форм</a>
                    </h4>
                    <div class="videoCard_description">
                      <p>Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание систем массового участия.</p>
                    </div>
                  </div>
                </div>
                <div class="videoCard">
                  <div class="videoCard_imgWrapper">
                    <a href="#"><img src="<%= require('./src/assets/img/worker/worker1.jpg') %>" alt=""></a>
                  </div>
                  <div class="videoCard_text">
                    <h4 class="videoCard_title">
                      <a href="#">Равным образом дальнейшее развитие различных форм</a>
                    </h4>
                    <div class="videoCard_description">
                      <p>Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание систем массового участия.</p>
                    </div>
                  </div>
                </div>
                <div class="videoCard">
                  <div class="videoCard_imgWrapper">
                    <a href="#"><img src="<%= require('./src/assets/img/worker/worker1.jpg') %>" alt=""></a>
                  </div>
                  <div class="videoCard_text">
                    <h4 class="videoCard_title">
                      <a href="#">Равным образом дальнейшее развитие различных форм</a>
                    </h4>
                    <div class="videoCard_description">
                      <p>Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание систем массового участия.</p>
                    </div>
                  </div>
                </div>
                <div class="videoCard">
                  <div class="videoCard_imgWrapper">
                    <a href="#"><img src="<%= require('./src/assets/img/worker/worker1.jpg') %>" alt=""></a>
                  </div>
                  <div class="videoCard_text">
                    <h4 class="videoCard_title">
                      <a href="#">Равным образом дальнейшее развитие различных форм</a>
                    </h4>
                    <div class="videoCard_description">
                      <p>Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание систем массового участия.</p>
                    </div>
                  </div>
                </div>
                <div class="videoCard">
                  <div class="videoCard_imgWrapper">
                    <a href="#"><img src="<%= require('./src/assets/img/worker/worker1.jpg') %>" alt=""></a>
                  </div>
                  <div class="videoCard_text">
                    <h4 class="videoCard_title">
                      <a href="#">Равным образом дальнейшее развитие различных форм</a>
                    </h4>
                    <div class="videoCard_description">
                      <p>Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание систем массового участия.</p>
                    </div>
                  </div>
                </div>
                <div class="videoCard">
                  <div class="videoCard_imgWrapper">
                    <a href="#"><img src="<%= require('./src/assets/img/worker/worker1.jpg') %>" alt=""></a>
                  </div>
                  <div class="videoCard_text">
                    <h4 class="videoCard_title">
                      <a href="#">Равным образом дальнейшее развитие различных форм</a>
                    </h4>
                    <div class="videoCard_description">
                      <p>Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание систем массового участия.</p>
                    </div>
                  </div>
                </div>
                <div class="videoCard">
                  <div class="videoCard_imgWrapper">
                    <a href="#"><img src="<%= require('./src/assets/img/worker/worker1.jpg') %>" alt=""></a>
                  </div>
                  <div class="videoCard_text">
                    <h4 class="videoCard_title">
                      <a href="#">Равным образом дальнейшее развитие различных форм</a>
                    </h4>
                    <div class="videoCard_description">
                      <p>Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание систем массового участия.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <div class="container">
      <div class="row justify-content-row-reverse justify-content-md-row">
        <div class="col-12 col-sm-6 col-md-5 promo-column">
          <h3 class="title">Акция!</h3>
          <div class="promo-description">До 31 октября установка окон - <br><u>бесплатно</u></div>

          <div class="timer-wrapper">
            <p class="timer-desc">До конца акции:</p>
            <!--  data-finish="1572480000" -->
            <div class="timer js-timer">
              <div class="elem">
                <span class="num days">00</span>
                <span class="val">дн.</span>
              </div>
              <div class="elem">
                <span class="num hours">00</span>
                <span class="val">час.</span>
              </div>
              <div class="elem">
                <span class="num minutes">00</span>
                <span class="val">мин.</span>
              </div>
              <div class="elem">
                <span class="num seconds">00</span>
                <span class="val">сек.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-7 teamImg-wrapper">
          <img src="<%= require('./src/assets/img/footer-team.png') %>" alt="">
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
