@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?oi7zl0');
  src:  url('fonts/icomoon.eot?oi7zl0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?oi7zl0') format('truetype'),
    url('fonts/icomoon.woff?oi7zl0') format('woff'),
    url('fonts/icomoon.svg?oi7zl0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone-call:before {
  content: "\e902";
}
.icon-nav-arrow-left:before {
  content: "\e900";
}
.icon-nav-arrow-right:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e986";
}
