body{
  font: normal 500 14px / 1.2 'Roboto', sans-serif;
  color: $bodyTextColor;
  background: url('./../assets/img/main-bg.jpg') center / cover repeat;

  img{
    max-width: 100%;
  }

  .scrollBar{
    &-horizontal{
      overflow-y: hidden;
      overflow-x: scroll;
    }
  }

  a{
    text-decoration: none;
  }
}